<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
    <title>CUOM Annuaire</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="screen" >
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" media="screen" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link href="{{ asset('css/search.css') }}" rel="stylesheet" />
</head>
<body>
{% block body %}

{% endblock %}
<script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/pace/pace.min.js') }}"></script>
<script src="{{ asset('js/lobipanel/lobipanel.min.js') }}"></script>
<script src="{{ asset('js/iscroll/iscroll.js') }}"></script>
<script src="{{ asset('js/prism/prism.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" ></script>
{% block scripts %}
{% endblock %}
</body>
</html>