{% extends 'search_base.html.twig' %}

{% block body %}
    <div class="s009">
        <form id="form" action="{{ path('homepage') }}" method="post">
            <div class="inner-form">
                <div>
                    <h1>Rechercher un médecin</h1>
                </div>
                <div class="basic-search">
                    <div class="input-field">
                        <input name="nom" type="text" placeholder="Identité du médecin"/>
                        <div class="icon-wrap">
                            <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true"
                                 data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 512 512">
                                <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="advance-search">
                    <span class="desc">Recherche avancée</span>
                    <div class="row">
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="specialite">
                                    <option placeholder="" value="">Spécialités</option>
                                    {% for spec in specialites %}
                                        <option value="{{ spec.id }}">{{ spec.specialite }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="hopital">
                                    <option placeholder="" value="">Institution</option>
                                    {% for hos in hopitaux %}
                                        <option value="{{ hos.id }}">{{ hos.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="universite">
                                    <option placeholder="" value="">Université</option>
                                    {% for uni in universites %}
                                        <option value="{{ uni.id }}">{{ uni.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row second">
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="statut">
                                    <option placeholder="" value="">Statut</option>
                                    {% for statut in statuts %}
                                        <option value="{{ statut.id }}">{{ statut.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="">
                                    <option placeholder="" value="">Sexe</option>
                                    <option value="1">Homme</option>
                                    <option value="0">Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="Commune">
                                    <option placeholder="" value="">Commune</option>
                                    {% for com in communes %}
                                        <option value="{{ com.id }}">{{ com.commune }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row third">
                        <div class="input-field">
                            <div class="result-count">
                                <span> </span>
                            </div>
                            <div class="group-btn">
                                <button class="btn-search">Rechercher</button>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <table  id="data" style="width:100%">
                            <thead>
                            <tr>
                                <th style="text-align: left">NOM</th>
                                <th style="text-align: left">POSTNOM</th>
                                <th style="text-align: left">PRENOM</th>
                                <th style="text-align: left">TELEPHONE</th>
                                <th style="text-align: left">EMAIL</th>
                                <th style="text-align: left">ANNEE</th>
                                <th style="text-align: left">INSTITUTION</th>
                                <th style="text-align: left">UNIVERSITE</th>
                                <th style="text-align: left">COMMUNE</th>
                                <th style="text-align: left">STATUT</th>
                            </tr>
                            </thead>
                            <tbody id="data-body">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/extention/choices.js') }}"></script>
    <script>
        const customSelects = document.querySelectorAll("select");
        const choices = new Choices('select',
            {
                searchEnabled: false,
                itemSelectText: '',
                removeItemButton: true,
            });
    </script>
    <script src="{{ asset('js/router/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/select2/select2.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $(function ($) {
                $(".js-states").select2();
                $(".js-states-limit").select2({
                    maximumSelectionLength: 2
                });
                $(".js-states-hide").select2({
                    minimumResultsForSearch: Infinity
                });
            });
            var dta = $("#data");

            dta.hide();
            const form = document.getElementById("form");
            form.onsubmit = function (event) {
                let formData = JSON.stringify($("#form").serializeArray());
                let data = {recherche: formData};
                var body = $('#data-body');
                body.empty();
                event.preventDefault();
                //console.log(formData);
                $.ajax({
                    type: 'POST',
                    url: '{{ url('medecin_recherche') }}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    processData: false,
                    data: JSON.stringify(data),
                    cache: false,
                }).done(function (response) {
                    console.log(response);
                    for(let i = 0; i < response.length; i++){
                        let row = `<tr>
                                <td>${response[i].nom === undefined ? '-' : response[i].nom}</td>
                                <td>${response[i].postnom === undefined ? '-' : response[i].postnom}</td>
                                <td>${response[i].prenom === undefined ? '-' : response[i].prenom}</td>
                                <td>${response[i].telephone === undefined ? '-' : response[i].telephone}</td>
                                <td>${response[i].email === undefined ? '-' : response[i].email}</td>
                                <td>${response[i].annee === undefined ? '-' : response[i].annee}</td>
                                <td>${response[i].hopital === undefined ? '-' : response[i].hopital}</td>
                                <td>${response[i].universite === undefined ? '-' : response[i].universite}</td>
                                <td>${response[i].commune === undefined ? '-' : response[i].commune}</td>
                                <td>${response[i].statut === undefined ? '-' : response[i].statut}</td>
                           </tr>
                        `;
                        var html = $.parseHTML(row);
                        console.log('ok');
                        body.append(html);
                    }
                    dta.show();
                });
            }
        });
    </script>
{% endblock %}
